<div>
    <h1>Hola {{user.name}}! Qué gusto verte!</h1>
    {{#if isAdmin}}
    <p>Usted es administrador</p>
    {{#each food}}
    <div>
        <p>{{this.name}}</p>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>Usted no es administrador</p>
    {{/if}}
</div>

<script src="/js/index.js"></script>